{% extends "layouts/default.html.twig" %}

{% block title %}Details{% endblock %}

{% block content %}

	<div class="w-full max-w-[600px] mx-auto">
		<h2 class="mb-5 font-bold text-3xl">How do we contact you?</h2>

		{{ component('DetailsForm') }}
	</div>

{% endblock %}
