<div class="block backdrop-blur-xs w-full px-6 py-5 border-2 rounded-md {{ colour.getClass() }} {{ size.getClass() }}">
	<span class="block font-bold text-6xl">{{ number }}</span>
	<span class="block font-light mt-2 tracking-wide">{{ label }}</span>
</div>
